@import '../_common.scss';

.Menu {
  position: relative;
  background-color: #e6e6e6;
  height: 48px;
  padding: 10px 15px;
  border-bottom: 1px solid $border-color;
  line-height: 28px;
  &__title {
    font-weight: 500;
  }

  &__arrow {
    &__up,
    &__down {
      position: absolute;
      right: 16px;
    }
  }
}
